<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Account Upgraded!</h1>
    <p>Hi <%= @user.email %>,</p>
    <p>Your account is now upgraded to premium. You can now enjoy unlimited creation of boards and cards.</p>
    <p>Regards</p>
  </body>
</html> 
