// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

@import "kanban";
@import "sidenav";
@import "metrics";


//general styles
.text-decoration-none {
    text-decoration: none;
}

.button-style {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.03);
}

.button-style:hover {
    background-color: whitesmoke;
}