.kanban {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: white;
}

.kanban-col {
    list-style: none;
    padding: 0;
    min-height: 100vh;
    max-height: none;
}

.kanban-col-name {
    background-color: $purple;
    text-align: center;
    margin-bottom: 4px;
    padding: 16px;
}

.kanban-col-add {
    background-color: $purple;
    text-align: center;
    margin-bottom: 16px;
    padding: 3px;
    cursor: pointer;
    border-radius: 0.5em;
}

.kanban-col-add:hover {
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.04);
}

.kanban-col-item {
    background-color: white;
    margin-bottom: 4px;
    padding: 16px;
    cursor: grab;
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.03);
}

.kanban-col-item:hover {
    background-color: whitesmoke;
}

.kanban-col-item:active {
    cursor: grabbing;
}