.sidenav {
    min-height: 110vh;
    max-height: none;
}

.new-board {
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.04);
    text-decoration: none;
    background-color: white;
}

.new-board:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.sidenav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.04);
}